html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Caveat", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.links {
  margin-left: 15px;
}

.footer {
  text-align: center;
}
